# Credenciais do Painel StarHome ResellerSystem
PANEL_URL=https://panel.web.starhome.vip
PANEL_ACCOUNT=reyvison
PANEL_PASSWORD=reyvison1998

# Configurações opcionais
HEADLESS=false
ITEMS_PER_PAGE=100
